/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url("fKnfV28XkldRW297cFLeqXYhjbSpvc47ee6xR_80Hnw.ttf") format("truetype");
}
