/* Code tidied up by ScrapBook */
h1, h2, h3, h4, h5, h6, .navbar .navbar-nav { font-family: "Raleway",sans-serif; }
body { font-family: "Roboto",sans-serif; }
.logo-font { font-family: "Pacifico",cursive,sans-serif; }
html { height: 100%; }
body { font-size: 15px; line-height: 1.46667; color: rgb(119, 119, 119); background-color: rgb(255, 255, 255); font-weight: 300; }
h1, h2, h3, h4, h5, h6 { color: rgb(51, 51, 51); line-height: 1.2; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: rgb(51, 51, 51); }
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 { color: rgb(255, 255, 255); }
.dark h1 a, .dark h2 a, .dark h3 a, .dark h4 a, .dark h5 a, .dark h6 a { color: rgb(255, 255, 255); }
.dark .footer h1, .dark .footer h2, .dark .footer h3, .dark .footer h4, .dark .footer h5, .dark .footer h6 { color: rgb(153, 153, 153); }
.dark .footer h1 a, .dark .footer h2 a, .dark .footer h3 a, .dark .footer h4 a, .dark .footer h5 a, .dark .footer h6 a { color: rgb(153, 153, 153); }
h1 { font-size: 33px; font-weight: 700; text-transform: uppercase; }
h1.logo-font { text-transform: none; font-weight: 300; font-size: 50px; }
h1.large { font-size: 45px; font-weight: 300; letter-spacing: 0.1em; }
h2 { font-size: 28px; margin-bottom: 15px; text-transform: uppercase; }
h2.logo-font { text-transform: none; }
h3 { font-size: 24px; }
h4 { font-size: 19px; }
h5 { font-size: 15px; text-transform: uppercase; font-weight: 700; }
h6 { font-size: 13px; font-weight: 700; }
@media screen and (min-width: 768px) {
  .jumbotron h1 { font-size: 130px; }
}
@media screen and (max-width: 767px) {
  .jumbotron h1 { font-size: 60px; }
}
.page-title { margin-top: 0px; }
@media (min-width: 992px) {
  .title { margin-top: 0px; }
}
.sidebar .title { margin-top: 3px; }
p { margin-bottom: 15px; }
p.large { font-size: 18px; line-height: 1.4; margin-bottom: 30px; }
a { color: rgb(9, 175, 223); transition: all 0.2s ease-in-out 0s; }
a:hover { color: rgb(12, 158, 199); }
a:focus, a:active { outline: medium none; color: rgb(12, 158, 199); }
.link-dark { color: rgb(51, 51, 51); text-decoration: none ! important; }
.link-dark:hover { color: rgb(51, 51, 51); text-decoration: underline ! important; }
.dark .footer .link-dark { color: rgb(119, 119, 119); text-decoration: none ! important; }
.dark .footer .link-dark:hover { color: rgb(119, 119, 119); text-decoration: underline ! important; }
.link-light { color: rgb(255, 255, 255); text-decoration: none ! important; }
.link-light:hover { color: rgb(255, 255, 255); text-decoration: underline ! important; }
blockquote { border-left: medium none; display: inline-block; margin: 20px auto; font-size: 16px; position: relative; padding: 10px 25px; }
blockquote::after { content: "“"; width: 25px; height: 25px; line-height: 36px; font-size: 36px; font-family: "PT Serif",serif; position: absolute; top: 12px; left: 0px; color: rgb(205, 205, 205); }
.blockquote::before { font-family: "PT Serif",serif; content: "“"; font-size: 40px; }
blockquote.inline { padding: 0px; }
blockquote.inline p { width: 60%; display: inline-block; margin: 0px; }
blockquote.inline footer { width: 37%; display: inline-block; padding-left: 5px; }
blockquote.inline::after { top: 0px; }
mark, .mark { background-color: rgb(9, 175, 223); color: rgb(255, 255, 255); }
pre { padding: 20px; border-radius: 0px; }
.text-muted { color: rgb(153, 153, 153); }
.text-default { color: rgb(9, 175, 223); }
.text-white { color: rgb(255, 255, 255) ! important; }
.well { border-radius: 0px; background-color: rgb(243, 243, 243); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) inset; }
.dark hr { border-color: rgb(51, 51, 51); }
